/* common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2D3E50;
    background-color: #AFEBE4;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.p_relative {
    position: relative;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.col_25 {
    width: 25%;
}
.col_33 {
    width: calc(33% - 23px);
}
.col_50 {
    width: 50%;
}
.col_75 {
    width: 75%;
}

.box {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px #D3D3D3;
}
.box:hover {
    transform: scale(1.05);
}

.img_logo {
    height: 25px;
}
.img_sponsor img {
    vertical-align: middle;
    width: 100px;
    margin-bottom: 10px;
}
.img_135px {
    height: 135px;
}
.img_90px {
    height: 90px;
}

.icon_check li::before {
    content: "\02713";
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 14px;
    line-height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 9px;
    font-weight: 900;
    color: #FFFFFF;
    background-color: #FF7A59;
}

.list_inline {
    list-style: none;
}
.list_inline li {
    display: inline-block;
    line-height: 1;
    margin: 0 10px;
}
.list_inline li:first-child {
    margin-left: 0;
}
.list_inline li:last-child {
    margin-right: 0;
}
.list_inline a {
    text-decoration: none;
}
.list_inline a:hover:not(.button_small, .button_big) {
    text-decoration-line: underline;
    text-decoration-style: initial;
    color: #6689AF;
}
.list_block {
    list-style: none;
}
.list_block li {
    line-height: 1;
    font-size: 14px;
}
.list_block a {
    text-decoration: none;
}
.list_block a:hover:not(.button_small, .button_big) {
    text-decoration-line: underline;
    text-decoration-style: initial;
    color: #01A5BD;
}

.button_small {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
}
.button_big {
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
}
.button_orange {
    color: #FFFFFF;
    background-color: #FF7A59;
}
.button_orange:hover {
    opacity: 0.5;
}
.button_white {
    border: 1px solid #FF7A59;
    color: #FF7A59;
    background-color: #FFFFFF;
}
.button_white:hover {
    opacity: 0.5;
}
.button_grey {
    color: #2D3E50;
    background-color: #DADEE0;
}
.button_grey:hover {
    opacity: 0.5;
}

.font_47px {
    font-size: 47px;
    font-weight: 900;
}
.font_38px {
    font-size: 38px;
    font-weight: 900;
}
.font_28px {
    font-size: 28px;
    font-weight: 900;
}
.font_21px {
    font-size: 21px;
}
.font_18px {
    font-size: 18px;
}
.font_16px {
    font-size: 16px;
}
.font_14px {
    line-height: 2;
    font-size: 14px;
    font-weight: normal;
}
.font_12px {
    font-size: 12px;
}
.font_bold {
    font-weight: 900;
}
.font_normal {
    font-weight: 500;
}
.font_uppercase {
    text-transform: uppercase;
}

.table_cells td {
    width: 25%;
    padding: 25px;
}
.table_cells img {
    height: 25px;
}
.table_bottom {
    border-top: 1px solid #FFFFFF;
}
.table_center_left {
    border-left: 1px solid #FFFFFF;
    border-right: 0.5px solid #FFFFFF;
}
.table_center_right {
    border-left: 0.5px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.table_number {
    margin: 10px 0;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
}
.table_addition {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 18px;
    font-weight: normal;
}

.color_white {
    color: #FFFFFF;
}
.color_grey {
    color: #CBD6E2;
}

.background_white {
    background-color: #FFFFFF;
}
.background_green {
    background-color: #01A5BD;
}
.background_lightgreen {
    background-color: #AFEBE4;
}
.background_grey {
    background-color: #F5F8FA;
}
.background_blue {
    background-color: #2D3E50;
}

/* header */
header a {
    color: #2D3E50;
}

#nav_top {
    z-index: 2;
    position: fixed;
    width: 100%;
    line-height: 73px;
    border-bottom: 2px solid #2D3E50;
    background-color: #F4F9FD;
}
#language:hover {
    text-decoration-line: underline;
    text-decoration-style: initial;
    color: #01A5BD;
}
#nav_top .fa-globe-europe {
    padding-right: 5px;
}
#language_text {
    padding-right: 15px;
    border-right: 2px solid #899397;
}
#nav_top .fa-chevron-down {
    padding-left: 5px;
    font-size: 15px;
}
#language_select {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
#language_select option {
    font-size: 14px;
    color: #2D3E50;
    cursor: pointer;
}

#search_button {
    height: 100%;
    margin: 0 10px 0 5px;
    cursor: pointer;
    border: none;
    color: #1DAEC4;
    background-color: #00000000;
}
#img_search {
    vertical-align: middle;
    height: 15px;
    cursor: pointer;
}
#search_text {
    width: 0;
    visibility: hidden;
}
#search_text::placeholder {
    color: #1DAEC4;
}
#search:hover {
    padding: 7px 0;
    border-radius: 5px;
    border: 1px solid #1DAEC4;
    margin: 0;
    background-color: #00000000;
}
#search:hover #search_text {
    visibility: visible;
    width: 70%;
    border: none;
    background-color: #00000000;
}

#nav_bottom {
    width: 100%;
    line-height: 75px;
    padding-top: 75px;
    background-color: #FFFFFF;
}
#logo_hubspot {
    vertical-align: middle;
}
#nav_bottom .fa-chevron-down {
    padding-left: 10px;
    font-size: 15px;
}

#jumbotron_background {
    width: 100%;
    height: 510px;
    border-bottom: 3px solid #2D3E50;
    margin-bottom: 70px;
    background-color: #FFF2EE;
    background-image: url(../img/jumbotron.png);
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: 100% 25%;
}
#jumbotron_text {
    width: 50%;
    padding-top: 55px;
}
#jumbotron_text h1 {
    margin-bottom: 30px;
}
#jumbotron_text h3 {
    margin-bottom: 50px;
}
#jumbotron_text p {
    margin-top: 50px;
}

/* main */
main {
    border-top: 3px solid #2D3E50;
}

/* main - section products */
#section_products {
    padding: 45px 0;
    background-color: #F4F9FD;
}

#sub_section_top {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}
#sub_section_top img {
    height: 160px;
}
#sub_section_top h2 {
    padding: 5px 0 25px 0;
}

#sub_section_middle {
    padding: 60px 150px 60px 60px;
}
#sub_section_middle .col_25 {
    text-align: center;
}
#sub_section_middle .col_75 {
    text-align: left;
    padding-left: 40px;
}
#sub_section_middle img {
    display: block;
    padding-bottom: 50px;
    margin: 0 auto;
}
#sub_section_middle h3 {
    margin-bottom: 30px;
}
#sub_section_middle h4 {
    display: inline-block;
    margin: 20px 0;
}
#sub_section_middle hr {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    margin-left: 40px;
    background-color: #899397;
}

[id^="hub"] {
    text-align: center;
    padding: 20px 40px 40px 40px;
    margin-top: 39px;
}
[id^="hub"] img {
    margin-bottom: 15px;
}
[id^="hub"] h3 {
    margin-bottom: 25px;
}
[id^="hub"] p {
    height: 143px;
    padding-bottom: 60px;
    border-bottom: 2px solid #899397;
    margin-bottom: 40px;
}
[id^="hub"] ul {
    text-align: left;
    margin: 20px 0 60px 0;
}
#hub_left {
    margin-right: 26px;
}
#hub_center {
    margin-left: 13px;
    margin-right: 13px;
}
#hub_right {
    margin-left: 26px;
}

/* main - section table */
#section_table {
    text-align: center;
    padding: 50px 0 80px 0;
    background-color: #00A4BC;
    background-image: linear-gradient(to right, #00A4BC , #01BDA6);
}
#section_table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
#section_table h2 {
    width: 92%;
    line-height: 1.2;
    margin: 0 auto;
}
#section_table h5 {
    margin: 25px 0 40px 0;
}

/* main - section customers */
#section_customers {
    padding: 50px 0;
    background-color: #FFFFFF;
}

#container_small {
    width: 60%;
    padding-bottom: 30px;
    margin: 0 auto;
}
#container_small .list_block li{
    line-height: 2;
}
#customers_number {
    margin-bottom: 25px;
}

#customers_access {
    width: 43%;
    padding-top: 55px;
}
#customers_access h2 {
    margin-bottom: 30px;
}
#customers_access h4 {
    margin-bottom: 50px;
}
#customers_access p {
    margin-top: 50px;
}

#img_woman {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 25%;
}

/* footer */
footer {
    padding: 40px 0;
    background-color: #2D3E50;
}
footer a {
    color: #CBD6E2;
}

#footer_top li:first-child {
    padding-bottom: 23px;
}
#footer_top li {
    padding-bottom: 20px;
}
#icon_social a {
    margin: 0;
}

#footer_middle {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #CBD6E2;
    margin: 20px 0 35px 0;
}

#footer_button {
    margin: 10px 0;
}
#footer_bottom .float_right {
    text-align: right;
}
#footer_bottom img {
    vertical-align: middle;
    margin-bottom: 10px;
}