/* debug */


/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2D3E50;
    background-color: #afebe4;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.p_relative {
    position: relative;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.jumbotron {
    width: 40%;
    padding-top: 55px;
}
.jumbotron h1,
.jumbotron h2 {
    margin-bottom: 30px;
}
.jumbotron h3,
.jumbotron h4 {
    margin-bottom: 50px;
}
.jumbotron p {
    margin-top: 50px;
}

.col_25 {
    width: 25%;
}
.col_33 {
    width: calc(33% - 23px);
}
.col_50 {
    width: 50%;
}
.col_75 {
    width: 75%;
}

.box {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 4px #D3D3D3;
}
.box:hover {
    transform: scale(1.01);
}

.img_logo {
    height: 25px;
}
.img_customers {
    width: 100px;
}
.img_social {
    height: 20px;
}
.img_135px {
    height: 135px;
}
.img_90px {
    height: 90px;
}

.icon_check::before {
    content: "\02713";
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 9px;
    font-weight: 900;
    color: white;
    background-color: #FF7A59;
}

.list_inline {
    list-style: none;
}
.list_inline li {
    display: inline-block;
}
.list_inline a {
    text-decoration: none;
    margin: 0 10px;
}
.list_inline a:hover:not(.button_small, .button_big) {
    text-decoration-line: underline;
    text-decoration-style: initial;
    color: #6689AF;
}
.list_block {
    list-style: none;
}
.list_block a {
    text-decoration: none;
}
.list_block a:hover:not(.button_small, .button_big) {
    text-decoration-line: underline;
    text-decoration-style: initial;
    color: #01A5BD;
}

.button_small {
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 10px
}
.button_big {
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 20px 30px
}
.button_orange {
    color: #FFFFFF;
    background-color: #FF7A59;
}
.button_orange:hover {
    opacity: 0.5;
}
.button_white_orange {
    border: 1px solid #FF7A59;
    color: #FF7A59;
    background-color: #FFFFFF;
}
.button_white_orange:hover {
    opacity: 0.5;
}
.button_white_blue {
    color: #2D3E50;
    background-color: #FFFFFF;
}
.button_white_blue:hover {
    opacity: 0.5;
}

.font_42px {
    font-size: 42px;
}
.font_38px {
    font-size: 38px;
}
.font_35px {
    font-size: 35px;
}
.font_28px {
    font-size: 28px;
}
.font_21px {
    font-size: 21px;
}
.font_18px {
    font-size: 18px;
}
.font_14px {
    font-size: 14px;
}
.font_13px {
    font-size: 13px;
}
.font_10px {
    font-size: 10px;
}
.font_bold {
    font-weight: 900;
}
.font_normal {
    font-weight: 500;
}
.font_uppercase {
    text-transform: uppercase;
}

.table_cells td {
    width: 25%;
    padding: 25px;
}
.table_cells img {
    height: 25px;
}
.table_bottom {
    border-top: 1px solid #FFFFFF;
}
.table_center_left {
    border-left: 1px solid #FFFFFF;
    border-right: 0.5px solid #FFFFFF;
}
.table_center_right {
    border-right: 1px solid #FFFFFF;
    border-left: 0.5px solid #FFFFFF;
}

.background_white {
    background-color: #FFFFFF;
}
.background_green {
    background-color: #01A5BD;
}
.background_lightgreen {
    background-color: #AFEBE4;
}
.background_grey {
    background-color: #F5F8FA;
}
.background_blue {
    background-color: #2D3E50;
}

/* header */
header a {
    color: #2D3E50;
}

#nav_top {
    position: fixed;
    width: 100%;
    line-height: 73px;
    border-bottom: 2px solid #2D3E50;
    background-color: #F4F9FD;
}
#nav_top .fa-globe-europe {
    padding-right: 5px;
}
#nav_top .fa-chevron-down {
    padding-left: 5px;
    font-size: 15px;
}
#img_search {
    height: 15px;
    vertical-align: middle;
    cursor: pointer;
}
#select_language {
    padding-right: 15px;
    border-right: 2px solid #899397;
    cursor: pointer;
}

#nav_bottom {
    width: 100%;
    padding-top: 75px;
    line-height: 75px;
    background-color: #FFFFFF;
}
#logo_hubspot {
    vertical-align: middle;
}
#nav_bottom .fa-chevron-down {
    padding-left: 10px;
    font-size: 15px;
}

#header_background {
    width: 100%;
    height: 510px;
    border-bottom: 3px solid #2D3E50;
    margin-bottom: 70px;
    background-color: #FFF2EE;
    background-image: url(../img/jumbotron.png);
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: 100% 25%;
}

/* main */
main {
    border-top: 3px solid #2D3E50;;
}

/* main - section products */
#section_products {
    padding: 45px 0;
    background-color: #F4F9FD;
}

#sub_section_top {
    text-align: center;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 40px;
}
#sub_section_top img {
    height: 160px;
}
#sub_section_top h2 {
    padding: 5px 0 25px 0;
}
#sub_section_top h5 {
    line-height: 2;
}

#sub_section_middle {
    padding: 60px 150px 60px 60px;
}
#sub_section_middle .col_25 {
    text-align: center;
}
#sub_section_middle .col_75 {
    text-align: left;
    padding-left: 40px;
}
#sub_section_middle img {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}
#sub_section_middle h3 {
    margin-bottom: 30px;
}
#sub_section_middle p {
    line-height: 2;
}
#sub_section_middle h4 {
    display: inline-block;
    margin: 20px 0;
}
#sub_section_middle hr {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    margin-left: 40px;
    background-color: #899397;
}
#sub_section_middle li {
    margin-right: 20px;
}

#section_products [id^="column"] {
    text-align: center;
    padding: 20px 40px 40px 40px;
    margin-top: 39px;
}
#section_products [id^="column"] img {
    margin-bottom: 15px;
}
#section_products [id^="column"] h3 {
    margin-bottom: 25px;
}
#section_products [id^="column"] p {
    height: 123px;
    border-bottom: 2px solid #899397;
    padding: 0 10px 60px 10px;
    margin-bottom: 40px;
}
#section_products [id^="column"] ul {
    text-align: left;
    margin: 20px 0 60px 0;
}
#column_left {
    margin-right: 26px;
}
#column_center {
    margin: 0 13px 0 13px;
}
#column_right {
    margin-left: 26px;
}

/* main - section table */
#section_table {
    text-align: center;
    padding: 50px 0 80px 0;
    color: #FFFFFF;
    background-color: #00A4BC;
    background-image: linear-gradient(to right, #00A4BC , #01BDA6);
}
#section_table h2 {
    width: 92%;
    margin: 0 auto;
    line-height: 1.2;
}
#section_table h5 {
    width: 99%;
    margin: 0 auto;
    line-height: 2;
    margin: 25px 0 40px 0;
}
#section_table table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}
#section_table .table_number {
    margin: 10px 0;
}
#section_table .addition {
    vertical-align: middle;
    margin-left: 5px;
}

/* main - section customers */
#section_customers {
    padding: 50px 0;
    background-color: #FFFFFF;
}

#container_small {
    width: 60%;
    padding-bottom: 30px;
    margin: 0 auto;
}
#container_small .list_block {
    line-height: 2;
}
#container_small .img_customers {
    vertical-align: middle;
    margin: 10px;
}
#customers_number {
    margin-bottom: 25px;
}

#img_woman {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 25%;
}

/* footer */
footer {
    background-color: #2D3E50;
}
